/*styles
*/
body {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  color: red;
  margin: auto;
  text-align: center;
  background: #A8A7AE;
  margin-bottom: 10px;
}
table {
  width: 30%;
  margin: auto;
}

table {
  border: 1px solid black;
}


td:after {
  content: '';
  display: block;
}

td {
  width: 33.33%;
  position: relative;
  background: rgb(122, 168, 196);
  text-align: center;
  vertical-align: middle;
  color: #FFFFFF;
  padding-top: 16%;
  padding-bottom: 16%;
}

td:hover {
  background: rgba(122, 168, 196, 0.5);
}

#message-board {
  margin-top: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#btns-collection {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.2;}
}
.blink{
	text-decoration: blink;
	animation-name: blinker;
	animation-duration: 0.6s;
	animation-iteration-count:infinite;
	animation-timing-function:ease-in-out;
	animation-direction: alternate;
}

button {
  padding: 5px;
}

button:focus {outline:0;}
